<!DOCTYPE html>
<html>
<head>
    <title>MSM PARTNERS SDN BHD</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/comparison.js') }}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    {% include 'header.html' %}

    {% block content %}{% endblock %}

</body>
</html>