{% extends "base.html" %}

{% block content %}

<div class="container">

    <!-- FILTERS -->
    <div class="filters">

        <select id="productFilter">
            <option value="ALL">Products</option>
            <option value="HSBC">HSBC</option>
            <option value="UOB">UOB</option>
            <option value="MAXIS">MAXIS</option>
            <option value="BSN">BSN</option>
            <option value="HLLB">HLLB</option>
            <option value="BRT">BRT</option>
            <option value="BIMB">BIMB</option>
            <option value="TNB">TNB</option>
            <option value="CELCOM">CELCOM</option>
            <option value="DIGI">DIGI</option>
            <option value="TM">TM</option>
            <option value="LG">LG</option>
            <option value="IWK">IWK</option>
            <option value="FS">FS</option>
        </select>

        <select id="dayInput">
          <option value="ALL">Days</option>

            {% for i in range(1, 32) %}
            <option value="{{ i }}">
            {{ i }}
            {% if i == 1 %}st
            {% elif i == 2 %}nd
            {% elif i == 3 %}rd
            {% else %}th
            {% endif %}
           </option>
              {% endfor %}
        </select>

        <!-- COMMON FILTERS -->
        <select id="race">
            <option value="ALL">Race</option>
            <option value="MALAY">MALAY</option>
            <option value="CHINESE">CHINESE</option>
            <option value="INDIAN">INDIAN</option>
            <option value="OTHERS">OTHERS</option>
        </select>

        <select id="pp">
            <option value="ALL">PP</option>
            <option value="PPC">PPC</option>
            <option value="PPNC">PPNC</option>
        </select>

        <select id="pl">
            <option value="ALL">PL</option>
            <option value="YES">Y</option>
            <option value="NO">N</option>
        </select>

        

        <select id="OSB">
        <option value="ALL">OSB</option>
        <option value="LESS THAN RM10K">LESS THAN RM10K</option>
        <option value="RM10K - RM20K">RM10K-RM20K</option>
        <option value="RM30K - RM40K">RM30K-RM40K</option>
        <option value="RM40K - RM50K">RM40K-RM50K</option>
        <option value="RM50K - RM100K">RM50K-RM100K</option>
        <option value="RM100K - RM300K">RM100K-RM300K</option>
        <option value="MORE THAN 300K">MORE THAN 300K</option>
    </select>

         <div id="agingWrapper">
    <select id="aging">
        <option value="ALL">Aging</option>
        <option value="2025–2026">2025-2026</option>
        <option value="2023–2025">2023-2025</option>
        <option value="2021–2023">2021-2023</option>
        <option value="2019–2021">2019–2021</option>
        <option value="2017–2019">2017–2019</option>
        <option value="2015–2017">2015–2017</option>
    </select>
</div>
        <!-- HSBC ONLY -->
        <div id="hsbcFilters" style="display:none;">
            <select id="pwo">
                <option value="ALL">PWO/WO</option>
                <option value="PWO">PWO</option>
                <option value="WO">WO</option>
            </select>
            <select id="plc">
            <option value="ALL">PLC</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>

        <select id="DPD">
        <option value="ALL">DPD</option>
        <option value="DPD 0">DPD 0</option>
        <option value="DPD 1 – 29">DPD 1 - 29</option>
        <option value="DPD 30 – 59">DPD 30 - 59</option>
        <option value="DPD 60 – 89">DPD 60 - 89</option>
        <option value="DPD 90 – 119">DPD 90 - 119</option>
        <option value="DPD 120 – 179">DPD 120 - 179</option>
        <option value="DPD 180 – 359">DPD 180 - 359</option>
        <option value="DPD 360 – 999">DPD 360 - 999</option>
    </select>
        </div>

        <!-- UPLOAD & RESET BUTTONS -->
        <button id="uploadBtn" class="upload-btn">Upload Data File</button>
        <button id="resetBtn" class="reset-btn">Reset Filters</button>
        <input type="file" id="fileInput" accept=".xlsx,.xlsm" style="display: none;">

    </div>

    <div class="cards">
    <!-- TOTAL FILE -->
    <div class="card">
        <div class="card-left blue">
            <img src="{{ url_for('static', filename='image/file.png') }}">
        </div>
        <div class="card-right">
            <h4>Total Files</h4>
            <h2 id="totalFiles">0</h2>
            <p class="change up" id="filesChange"></p>
        </div>
    </div>

    <!-- TOTAL COLLECTION -->
    <div class="card">
        <div class="card-left green">
            <img src="{{ url_for('static', filename='image/money.jpg') }}">
        </div>
        <div class="card-right">
            <h4>Total Collection</h4>
            <h2 id="totalCollection">RM 0</h2>
            <p class="change up" id="collectionChange"></p>
        </div>
    </div>

    <!-- TARGET -->
    <div class="card">
        <div class="card-left yellow">
            <img src="{{ url_for('static', filename='image/target.png') }}">
        </div>
        <div class="card-right">
            <h4>Total Target</h4>
            <h2 id="target">RM 0</h2>
            <p class="change up" id="targetChange"></p>
        </div>
    </div>

    <!-- ACHIEVEMENT -->
    <div class="card">
        <div class="card-left red">
            <img src="{{ url_for('static', filename='image/achievement.png') }}">
        </div>
        <div class="card-right">
            <h4>Achievement</h4>
            <h2 id="achievement">0%</h2>
            <p class="change up" id="achievementChange"></p>
        </div>
    </div>

</div>


    <div class="cards-2">
        <div class="card-2 chart-card">
           <canvas id="chart"></canvas>
        </div>
       <div class="card-2">
          <h3>Top Collectors (THIS MONTH)</h3>
            <table class="top-table">
              <thead>
                  <tr>
                     <th>#</th>
                     <th>Collector</th>
                     <th>Amount</th>
                  </tr>
              </thead>
             <tbody id="topCollectors"></tbody>
            </table>
            <a href="/all-collectors-page" class="view-all">View all  →</a>
        </div>

         <div class="card-2">
            <h3>TOP PAYMENT (THIS MONTH)</h3>
          <table class="top-table">
              <thead>
                 <tr>
                    <th>Rank</th>
                    <th>Account</th>
                    <th>Amount (RM)</th>
                </tr>
              </thead>

            <tbody id="topPayments"></tbody>
          </table>

         <a href="/all-payments-page" class="view-all">View all →</a>
         </div>
 
    </div>

    <div class="cards-3">
        <div class="card-3">
            <h3>Target VS Collection (By Product)</h3>

              <table class="dashboard-table">
               <thead>
                  <tr>
                    <th>Product</th>
                    <!-- <th>Total File</th> -->
                    <th>Target (RM)</th>
                    <th>Collection (RM)</th>
                    <th>Achievement</th>
                 </tr>
               </thead>
                <tbody id="collector"></tbody>
             </table>

              <a href="/all-products-page" class="view-all">View all  →</a>
        </div>
         <!-- <div class="card-3">
            <h3>Total File by Products</h3>
        </div> -->
        <div class="status-cards">

    <div class="status-card ctc">
        <h3 id="ctcTitle">CTC (0)</h3>
        <ul id="ctcList"></ul>
        <a href="/all-status-page?status=CTC" class="view-all">View all  →</a>
    </div>

    <div class="status-card uct">
        <h3 id="uctTitle">UCT (0)</h3>
        <ul id="uctList"></ul>
       <a href="/all-status-page?status=UCT" class="view-all">View all  →</a>
    </div>

    <div class="status-card wip">
        <h3 id="wipTitle">WIP (0)</h3>
        <ul id="wipList"></ul>
        <a href="/all-status-page?status=WIP" class="view-all">View all  →</a>
    </div>

    <div class="status-card abort">
        <h3 id="abortTitle">ABORT (0)</h3>
        <ul id="abortList"></ul>
        <a href="/all-status-page?status=ABORT" class="view-all">View all  →</a>  

</div>
    </div>
    
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>

{% endblock %}